<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664383075601-67nn52bnc9gculfgd4gohuubos6q45vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664383075601-67nn52bnc9gculfgd4gohuubos6q45vl</string>
	<key>API_KEY</key>
	<string>AIzaSyCbS0JTQ-ZrgdQlRfva0WIIWnE8NOFRZAg</string>
	<key>GCM_SENDER_ID</key>
	<string>664383075601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.application</string>
	<key>PROJECT_ID</key>
	<string>alive-19</string>
	<key>STORAGE_BUCKET</key>
	<string>alive-19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664383075601:ios:32ae77ff9c73ac5bee08b0</string>
	<key>DATABASE_URL</key>
	<string>https://alive-19.firebaseio.com</string>
</dict>
</plist>